* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color:gold;
}
.main {
    text-align: center;
    margin: auto;
    border: 3px solid black;
    padding: 20px;
    max-width: 470px;
    border-radius: 10px;
    background-color:cornflowerblue;
}
.main2 {
    margin: 20px;
}

.choice button {
    margin: 5px;
    padding: 10px;
    width: 100px;
    border-radius: 30px;
    font-size: 35px;
    color: darkblue;
}

.choice button:hover {
    background-color: cornsilk;
}

.input {
    margin: 10px;
}

.input input {
    padding: 20px;
    font-size: 30px;
    color: rgb(2, 71, 13);
    width: 420px;
    border: 2px solid rgb(15, 15, 15);
}

.input:hover {
    background-color: cornsilk;
    
}

@media only screen and (max-width : 400px) {
    .input input {
        padding: 15px;
        font-size: 20px;
        width:  250px;;
    }

    .choice button {
        margin: 3px;
        width: 60px;
        font-size:20px ;
    }
    .main{
        margin: 20px;
    }
    .main2 {
        margin: 0px;
    }
    .heading img {
        height: 150px !important;
        width: 100px; 
        margin: 5px;
        overflow: hidden;
        object-fit: cover;
    }
            
}